.AddFormLabel {
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	margin-left:20px;
}

.AddFormInput {
	border-radius:4px;
	min-height:25px;
}

select {
	border-radius:4px;
	height:25px;
}

#OwnerName{
	width:200px;
}

#ShopNo {
	width:35px;
}

#TenderVal {
	width:130px;
}

#BtnSubmit {
	font-size:16px;
	margin-left:75px;
	text-align:center;
	width:100px;
	border-radius:4px;
	background-color:#009;
	color:#FFF;
	line-height:25px;
	height:30px;
}
	
#BtnSubmit:hover {
	background-color:#999;
	color:#009;
}