@charset "utf-8";
/* CSS Document */

#Headline1 h1{
	text-align: center;
	color: #000;
	}
#Headline1{
	text-align:center;
	background-color: #33F;
	vertical-align:central;
}

.new_table tr *:nth-child(2){
    text-align: right;
  }
div.information{
	position: relative;
    left: 250px;
	width:500px;
	height:100px;
	top:50px;
}
#btn {
	position:relative;
	top:30px;
	width:100px;
	left:130px;
	}
div.table1{
	height:auto;
	position:relative;
	top:30px;
	left:50px;
	}

#custom_details{
	position:relative;
	left:300px;
	top:100px;
	width:250px;
}

#custom_details1{
	position:relative;
	left:300px;
	top:100px;
	width:500px;
}

#message{
	width:300px;
	position:static;
	left:300px;
	bottom:180px;
	color:#F00
}


#table2{
	margin-top:50px;
	margin-left:250px;

}
#detail{
	position: relative;
	left: 500px;
	top: 50px;
	font-size: 18px;
	text-align: center;
	border-radius: 6px;
}

#save{margin-bottom:100px;;}

.table_header{
	width:600px;
	position:relative;
	top:80px;
	left:350px;
	text-align:center
	}
.table_header p{
	font-size:25px;
	font-weight:100;
	}
	

.subtable_header{
	width:600px;
	position:relative;
	top:100px;
	left:350px;
	text-align:center
	}
.subtable_header p{
	font-size:20px;
	font-weight:500;
	}

#hyperlink{
	position: relative;
	left: 300px;
	top: 100px;
	width: 200px;
	}
#hyperlink a{
	
	position:relative;
	left:300px;
	top:70px;
	}
