@charset "utf-8";
/* CSS Document */
body {
	margin:0;
	padding:0;
	width:100%;
	background-color:#eee9e9;
}

#Holder {
	width:1200px;
	height:auto;
	margin-top:21px;
	margin-bottom:21px;
	margin-left:auto;
	margin-right:auto;
	border:thick #009;
}

#Header {
	height:70px;
	margin-bottom:11px;
}

#NavBar {
	height:60px;
	background-color:#009;
	overflow:hidden;
}

#Content {
	min-height:700px;
	clear:both;
	overflow:auto;
	background-image:url(../images/AdminWelcom.jpg);
}
h3 {
	font-family:Arial, Helvetica, sans-serif;
	color:#F00;
	margin-left:65px;
	font-size:16px;
}
	

#PageHeading{
	margin-top:10px;
	height:auto;
	margin-bottom:10px;
	background-color:rgba(243,243,246,0.5);
	border-radius:2%;
}

h1 {
	font-family:Arial, Helvetica, sans-serif;
	color:#009;
	font-weight:500;
	font-size:40px;
	margin-left:10px;
	re0201.3
}

h2 {
	font-family:Arial, Helvetica, sans-serif;
	color:#000;
	font-weight:lighter;
	font-size:20px;
	margin-left:10px;
	padding-bottom:12px;
}

#Message {
	width:300px;
	float:left;
	border:thin;
	border-color:#00F;
}

#Detail {
	width:890px;
	float:right;
}

#Detail #DetailHeader {
	padding-left:55px;
}

a {
	color:#09F;
}
footer{
	position:absolute; 
	display:block; 
	padding:1px;
	width:1200px;
	color:white;
	background-color:#006;
	/*background-image:url(../images/footer.jpg);*/
}
#company{
	font-family:"Bauhaus 93",sans-serif;	
}
#client{
	font-family:Algerian,serif;
}
