@charset "utf-8";
/* CSS Document */

h3 {
	font-family:Arial, Helvetica, sans-serif;
	color:#F00;
	margin-left:65px;
	font-size:16px;
}
form input, form button {
	border-radius:4px;
	background-color: rgba(255,255,255,0.4);

	box-shadow: 0 0 25px rgba(0,0,0,0.1),inset 0 0 6px rgba(69,69,69,0.6);
  	width: 150px;
  	border: 1px solid;
  	border-bottom-color: rgba(255,255,255,.5);
  	border-right-color: rgba(60,60,60,.35);
  	border-top-color: rgba(60,60,60,.35);
  	border-left-color: rgba(80,80,80,.45);
  	background-repeat: no-repeat;
  	font-family:Arial, Helvetica, sans-serif;
  	letter-spacing: .075em;
  	color: #000000;
  	text-shadow: 0 1px 0 rgba(0,0,0,.1);
  	margin-bottom: 19px;
}	
 button {
	border-radius:4px;
	background-color: rgba(255,255,255,0.4);

	box-shadow: 0 0 25px rgba(0,0,0,0.1),inset 0 0 6px rgba(69,69,69,0.6);
  	width: 100px;
  	border: 1px solid;
  	border-bottom-color: rgba(255,255,255,.5);
  	border-right-color: rgba(60,60,60,.35);
  	border-top-color: rgba(60,60,60,.35);
  	border-left-color: rgba(80,80,80,.45);
  	background-repeat: no-repeat;
  	font-family:Arial, Helvetica, sans-serif;
  	letter-spacing: .075em;
  	color: #000000;
  	text-shadow: 0 1px 0 rgba(0,0,0,.1);
  	margin-bottom: 19px;
}	
#PageHeading{
	margin-top:10px;
	height:auto;
	margin-bottom:10px;
	background-color:rgba(243,243,246,0.5);
	border-radius:2%;
}

h1 {
	font-family:Arial, Helvetica, sans-serif;
	color:#009;
	font-weight:500;
	font-size:40px;
	margin-left:10px;
	re0201.3
}

h2 {
	font-family:Arial, Helvetica, sans-serif;
	color:#000;
	font-weight:lighter;
	font-size:20px;
	margin-left:10px;
	padding-bottom:12px;
}

#Message {
	width:300px;
	float:left;
	border:thin;
	border-color:#00F;
}

a {
	color:#09F;
}
footer{
	position:absolute; 
	display:block; 
	padding:1px;
	width:1200px;
	color:white;
	background-color:#006;
}



#Headline1 h1{
	text-align: center;
	color: #000;
	}
#Headline1{
	text-align:center;
	vertical-align:central;
}

.new_table tr *:nth-child(2){
    text-align: right;
  }
div.information{
	position: relative;
    left: 250px;
	width:500px;
	height:100px;
	top:50px;
}

#btn {
	position:relative;
	margin-top:20px;
	margin-left:100px;
	
	}
div.table1{
	height:auto;
	position:relative;
	top:30px;
	left:50px;
	}

#custom_details{
	position: relative;
	margin:auto;
	margin-top:200px;
}
#tb table{position: relative;
	margin:auto;
	margin-top:50px;
	}


#custom_details1{
	position:relative;
	left:300px;
	top:100px;
	width:500px;
}

#message{
	width:300px;
	position:static;
	left:300px;
	bottom:180px;
	color:#F00
}


#table2{
	margin-top:50px;
	margin-left:300px;

}
#detail{
	position: relative;
	margin:auto;
	top:30px;
	bottom:100px;
	margin-top:50px;
	margin-left:500px;
	margin-bottom:100px;
}

#save{margin-bottom:100px;;}

.table_header{
	width:600px;
	position:relative;
	top:80px;
	left:350px;
	text-align:center
	}
.table_header p{
	font-size:25px;
	font-weight:100;
	}
	

.subtable_header{
	width:600px;
	position:relative;
	top:100px;
	left:350px;
	text-align:center
	}
.subtable_header p{
	font-size:20px;
	font-weight:500;
	}

#hyperlink{
	position: relative;
	left: 300px;
	top: 100px;
	width: 200px;
	}
#hyperlink a{
	
	position:relative;
	left:300px;
	top:70px;
	}
