@charset "utf-8";
/* CSS Document */


  table.t1 {
    margin: 1em auto;
    border-collapse: collapse;
    font-family: Arial, Helvetica, sans-serif;
	margin-top:100px;
  }
	  
	  
  .t1 th, .t1 td {
    padding: 4px 8px;
  }
  .t1 thead th {
	background: #4f81bd;
	text-align: left;
	font-size: 15px;
	color: #000;
  }
  .t1 tr {
    border-right: 1px solid #95b3d7;
  }
  .t1 tbody tr {
    border-bottom: 1px solid #95b3d7;
  }
  .t1 tbody tr:nth-child(odd) {
    background: #dbe5f0;
  }
  .t1 tbody th, .t1 tbody tr:nth-child(even) td {
    border-right: 1px solid #95b3d7;
  }
  .t1 th {
	background: #4f81bd;
	text-align: left;
	font-weight: normal;
	font-size: 10px;
	color: #000;
  }
  .t1 tr *:nth-child(5), .t1 tr *:nth-child(6) {
    text-align: right;
  }


