h3 {
	font-family:Arial, Helvetica, sans-serif;
	color:#000;
	margin-left:30px;
	font-size:16px;
}
	

#PageHeading{
	margin-top:10px;
	height:auto;
	margin-bottom:10px;
	background-color:rgba(243,243,246,0.5);
	border-radius:2%;
}

table th {
	text-align:center;
	font-size:16px;
	font-weight:400;
	color:#FFF;
}

table td{
	color:#FFF;
	font-size:18px;
	min-height:25px;
}

table a {
	color:#FFF;
	text-decoration:none;
	display:block;
	background-color:#009;
	background:linear-gradient(0deg,rgba(21,99,151,0.8),rgba(64,161,226,0.8),rgba(8,70,111,0.9));
	height:22px;
	text-align:center;
}

table {
	margin-left:30px;
}
	

h1 {
	font-family:Arial, Helvetica, sans-serif;
	color:#009;
	font-weight:500;
	font-size:40px;
	margin-left:10px;
	text-align:center;
}

h2 {
	font-family:Arial, Helvetica, sans-serif;
	color:#FFF;
	font-weight:bold;
	font-size:20px;
	margin-left:30px;
	padding-bottom:12px;
}

#Notifications {
	min-height:200px;
  	position:relative;
  	margin:auto;
  	width:600px;
  	background: rgba(130,130,130,.3);
  	padding: 20px 22px;
  	border: 1px solid;
  	border-top-color: rgba(255,255,255,.4);
  	border-left-color: rgba(255,255,255,.4);
  	border-bottom-color: rgba(60,60,60,.4);
  	border-right-color: rgba(60,60,60,.4);
}

#Detail #DetailHeader {
	padding-left:55px;
}
